.wrapper {
    margin: 0 auto;
    width: 1200px;
}

.head {
    height: 100;
    background-color: #fff;
}

.header .wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.logo a {
    /* background-image: url(../images/logo.png); */
    cursor: pointer;
}

.nav ul {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav li a {
    font-size: 20px;
    padding: 4px 8px;
    margin-right: 20px;
}

.nav li .active {
    border-bottom: 2px solid #00a4ff;
}

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    display: flex;
    background-color: #f3f5f7;
    border-radius: 20px;
    align-items: center;
    padding: 4px 20px;
}

.search input {
    border: 0;
    background-color: transparent;
    outline: none;
}

.user {
    display: flex;
    align-items: center;
}

.user a {
    margin-left: 20px;
    font-size: 15px;
}

.banner {
    width: 100%;
    background-color: #0092cb;
    ;
}

.banner .wrapper {
    margin: 0 auto;
    height: 420px;
    background-image: url(../uploads/banner.png);
    display: flex;
    justify-content: space-between;
}

.banner .left {
    width: 191px;
    height: 420px;
    padding: 4px 10px;
    background-color: rgba(0, 0, 0, 0.42);
}

.banner .left a {
    display: block;
    background: url(../images/right.png) no-repeat right center;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

.banner .left a:hover {
    background: url(../images/right-hover.png) no-repeat right center;
    color: #0092cb;
}


.banner .right {
    display: flex;
    width: 218px;
    height: 305px;
    align-self: center;
    background-color: #209dd5;
    border-radius: 15px;
    flex-direction: column;
}

.banner .right .title {
    color: #fff;
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
}

.banner .right .content {
    background-color: #fff;
    border-radius: 15px;
    width: 218px;
    height: 267px;
    padding: 15px 15px;
}

.banner .right .content ul li {
    border-bottom: #e0e0e0 solid 1px;
    margin: 10px 0;
    h4{
        margin: 10px 0;
    }
    p {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 10px;
        span {
            color: #00a4ff;
        }
    }
}

.banner .right .content a{
    height: 32px;
    background-color: #00a4ff;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    border-radius: 15px;
    display: block;
}